[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
pyqtgraph = "*"
pyqt6 = "*"
pyopengl = "*"
pynput = "*"
opencv-python = "*"
Pillow = "*"
keyboard = "*"

[dev-packages]

[requires]
python_version = "3.10"
